/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  height: 600px;
  padding: 70px 75px;
  margin: 0 auto;
  background-image: url("../public/img/bg.jpg");
}
.section .container-table {
  width: 250px;
  height: 460px;
  background-color: #ffffff;
}
.section .container-table .container-table__widget {
  padding-top: 38px;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.section .container-table .container-table__widget .widget-img {
  width: 127px;
  height: 105px;
  background-image: url("../public/img/1.png");
}
.section .container-table .container-table__widget .widget-info {
  text-align: center;
  margin-top: 13px;
}
.section .container-table .container-table__widget .widget-info > p {
  font-family: "ABeeZee";
  font-style: italic;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.16;
  color: #9e9e9e;
}
.section .container-table__info {
  width: 100%;
  height: 222px;
  margin-top: 40px;
  padding: 0 30px;
}
.section .container-table__info .info-day {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.section .container-table__info .info-day .today {
  position: relative;
  font-family: "ABeeZee";
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  color: #5c5c5c;
}
.section .container-table__info .info-day .today::before {
  content: "";
  position: absolute;
  width: 250px;
  border: 1px solid #d6e6f1;
  margin-top: 30px;
  margin-left: -30px;
}
.section .container-table__info .info-day .today::after {
  content: "";
  position: absolute;
  width: 48px;
  height: 3px;
  background: #b5ddfa;
  margin-top: 28px;
  margin-left: -40px;
}
.section .container-table__info .info-day .week {
  font-family: "ABeeZee";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  color: #9c9c9c;
  margin-left: 30px;
}
.section .container-table__info .info__weather-box {
  margin-top: 30px;
}
.section .container-table__info .info__weather-box .weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}
.section .container-table__info .info__weather-box .weather-title > h4 {
  font-family: "ABeeZee";
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  color: #4f4f4f;
}
.section .container-table__info .info__weather-box .weather-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section .container-table__info .info__weather-box .weather-info .img {
  width: 20px;
  height: 20px;
}
.section .container-table__info .info__weather-box .weather-info .temp {
  margin-left: 10px;
}
.section .container-table__info .info__weather-box .weather-info .temp > p {
  font-family: "ABeeZee";
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  color: #4f4f4f;
}
.section .container-widget__bg-img {
  width: 400px;
  height: 460px;
  background-color: red;
}