@import "_reset.scss";
@import "_mixins.scss";

.section {
    @include df-position(space-between, center);
    @include size(800px, auto);
    padding: 70px 75px;
    margin: 0 auto;
    background-image: url("../public/img/bg.jpg");

    .container-table {
        // @include df-position(space-between, center);
        @include size(250px, auto);
        background-color: #ffffff;

        .container-table__widget {
            @include ptl-position(50px, 0);
            @include df-position(space-between, center);
            flex-direction: column;

            .widget {
                &-img {
                    @include size(127px, 105px);
                    background-image: url("../public/img/1.png");
                }

                &-info {
                    text-align: center;
                    margin-top: 13px;

                    & > p {
                        font-family: "ABeeZee";
                        font-style: italic;
                        font-weight: normal;
                        font-size: 24px;
                        line-height: 1.16;
                        color: #9e9e9e;
                    }
                }
            }
        }

        &__info {
            @include size(100%, 222px);
            margin-top: 40px;
            padding: 0 30px;

            .info-day {
                @include df-position(flex-start, center);

                .today {
                    position: relative;
                    font-family: "ABeeZee";
                    font-style: italic;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 1.16;
                    color: #5c5c5c;

                    &::before {
                        content: "";
                        position: absolute;
                        width: 250px;
                        border: 1px solid #d6e6f1;
                        @include mtl-position(30px, -30px);
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        width: 48px;
                        height: 3px;
                        background: #b5ddfa;
                        @include mtl-position(28px, -40px);
                    }
                }

                .week {
                    font-family: "ABeeZee";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 1.16;
                    color: #9c9c9c;
                    margin-left: 30px;
                }
            }

            .info__weather-box {
                margin-top: 30px;

                .weather {
                    @include df-position(space-between, center);
                    padding: 8px 0;

                    &-title {
                        & > h4 {
                            font-family: "ABeeZee";
                            font-style: italic;
                            font-weight: normal;
                            font-size: 12px;
                            line-height: 1.16;
                            color: #4f4f4f;
                        }
                    }

                    &-info {
                        @include df-position(space-between, center);

                        .img {
                            @include size(20px, 20px);
                        }

                        .temp {
                            margin-left: 10px;

                            & > p {
                                font-family: "ABeeZee";
                                font-style: italic;
                                font-weight: normal;
                                font-size: 12px;
                                line-height: 1.16;
                                color: #4f4f4f;
                            }
                        }
                    }
                }
                .qw {
                    padding-bottom: 30px;
                }
            }
        }
    }

    .container-widget {
        &__bg-img {
            @include size(400px, auto);
            background-image: url("../public/img/2.jpg");
            padding-left: 25px;
            padding-right: 20px;
        }

        &__name {
            @include mtl-position(0, 140px);
            padding-top: 30px;

            .name-city {
                & > p {
                    font-family: "ABeeZee";
                    font-style: italic;
                    font-weight: normal;
                    font-size: 36px;
                    line-height: 1.19;
                    letter-spacing: -1px;
                    color: #507998;
                }
            }

            .name-state {
                padding-left: 110px;

                & > p {
                    font-family: "ABeeZee";
                    font-style: italic;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 2;
                    letter-spacing: 1.71429px;
                    color: #98c6e8;
                    text-transform: uppercase;
                }
            }
        }

        &__info {
            @include df-position(space-between, center);
            margin-top: 200px;

            .info-today {
                &__time {
                    & > p {
                        font-family: "ABeeZee";
                        font-style: italic;
                        font-weight: normal;
                        font-size: 20px;
                        line-height: 1.2;
                        letter-spacing: -0.555556px;
                        color: #ffffff;
                    }
                }

                &__date {
                    & > p {
                        font-family: "ABeeZee";
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 21px;
                        letter-spacing: -0.5px;
                        color: #ffffff;
                        mix-blend-mode: normal;
                        opacity: 0.85;
                    }
                }
            }

            .info-temp {
                & > p {
                    font-family: "ABeeZee";
                    font-style: italic;
                    font-weight: normal;
                    font-size: 100px;
                    line-height: 118px;
                    letter-spacing: -7px;
                    color: #ffffff;
                }
            }
        }
    }
}
